<%= form_for @product, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_instock, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :num_instock, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bust_length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bust_length, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shoulder_length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shoulder_length, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sleeve_length, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sleeve_length, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :length_full, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :length_full, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :img_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :img_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>
<% end %>
